<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="7CC7F21A-3742-4781-BDD8-0A0B7F27241C" Language="1033"
                  Manufacturer="Bob -- K6RWY" Name="WixApp"
                  Version="!(bind.fileVersion.WixApp.cmp)"
                  >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
                      Manufacturer="Bob -- K6RWY" Description="Installs WixApp"
                      Comments="Copyright (c) Bob -- K6RWY"
                      />

  <MajorUpgrade Schedule="afterInstallInitialize"
                                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="D:\Sources\WixApp\Release\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="D:\Sources\WixApp\Release\banner.bmp"/>

  <Icon     Id="WixApp02_Icon.exe" SourceFile="$(var.SolutionDir)..\WixApp.prj\res\WixApp02.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="WixApp02_Icon.exe" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="App.ftr"/>
    <ComponentGroupRef Id="Uninstall_WixApp.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="App.ftr">
  <ComponentRef Id="WixApp.cmp"/>
  <ComponentRef Id="Help.cmp"/>
</ComponentGroup>
<ComponentGroup Id="Uninstall_WixApp.ftr">
  <ComponentRef Id="Uninstall_WixApp.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="WixApp.pff" Name="WixApp" />
    </Directory>

    <Directory Id="ProgramMenuFolder">
      <Directory Id="WixApp.pmf" Name="WixApp" />
    </Directory>

    <Directory Id="DesktopFolder" />

  </Directory>

  <Property Id="ApplicationFolderName" Value="WixApp" />
  <Property Id="WIXUI_INSTALLDIR"      Value="WixApp.pff"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="WixApp.cmp"  Guid="6318AFC0-BE15-4D99-90B2-221BB223D9B6" Directory="WixApp.pff">
    <File Id="WixApp.cmp" Source="$(var.SolutionDir)..\Release\WixApp.exe" KeyPath="yes"/>

    <Shortcut Id               = "WixApp.shc"
              Name             = "WixApp"
              Description      = "A Dialog Application"
              Advertise        = "yes"
              Directory        = "WixApp.pmf"
              WorkingDirectory = "WixApp.pff"
              Icon             = "WixApp02_Icon.exe"
              />

    <Shortcut Id               = "WixApp.dsk"
              Name             = "WixApp"
              Description      = "A Dialog Application"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "WixApp.pff"
              Icon             = "WixApp02_Icon.exe"
              />
  </Component>

  <Component Id="Help.cmp"  Guid="24853113-D1E8-4D56-90E0-4F9D35258D80" Directory="WixApp.pff">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\WixApp.chm" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="Uninstall_WixApp.cmp" 
                                  Guid="DB9A2E76-28C5-4208-B107-C9FBEEF8798E" Directory="WixApp.pmf">

    <Shortcut Id               = "UninstallWixApp.shc"
              Name             = "Uninstall WixApp"
              Description      = "Uninstalls WixApp"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "WixApp02_Icon.exe"
              />
    <RemoveFolder Id="WixApp.uni" Directory="WixApp.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\Uninstall_WixApp.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
