<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="B3A97B8C-87EE-401E-8447-E7458AE8DE14" Language="1033"
         Manufacturer="Bob -- K6RWY" Name="WixApp"
         Version="!(bind.fileVersion.WixApp.cmp)"
         >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
           Manufacturer="Bob -- K6RWY" Description="Installs WixApp"
           Comments="Copyright (c) Bob -- K6RWY"
           />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="D:\Sources\WixApp\Release\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="D:\Sources\WixApp\Release\banner.bmp"/>

  <Icon     Id="WixApp01Icon.exe" SourceFile="$(var.SolutionDir)..\WixApp.prj\res\WixApp01.ico"/>
  <Icon     Id="Uninstall01Icon.exe" SourceFile="$(var.SolutionDir)..\WixApp.prj\res\Uninstall01.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="Uninstall01Icon.exe" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="WixApp.ftr"/>
    <ComponentGroupRef Id="UninstallWixApp.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="WixApp.ftr">
  <ComponentRef Id="WixApp.cmp"/>
  <ComponentRef Id="Banner.cmp"/>
  <ComponentRef Id="Dialog.cmp"/>
  <ComponentRef Id="MyEnUS.cmp"/>
  <ComponentRef Id="Help.cmp"/>
</ComponentGroup>
<ComponentGroup Id="UninstallWixApp.ftr">
  <ComponentRef Id="UninstallWixApp.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="WixApp.pff" Name="WixApp" />
    </Directory>

    <Directory Id="ProgramMenuFolder">
      <Directory Id="WixApp.pmf" Name="WixApp" />
    </Directory>

    <Directory Id="DesktopFolder" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="WixApp" />
  <Property Id="WIXUI_INSTALLDIR"      Value="WixApp.pff"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="WixApp.cmp"  Guid="F95E42A8-78E0-46FC-92CF-6F709C245546" Directory="WixApp.pff">
    <File Id="WixApp.cmp" Source="$(var.SolutionDir)..\Release\WixApp.exe" KeyPath="yes"/>

    <Shortcut Id               = "WixApp.shc"
              Name             = "WixApp"
              Description      = "A Dialog Box for preparing simple Wix Installers"
              Advertise        = "yes"
              Directory        = "WixApp.pmf"
              WorkingDirectory = "WixApp.pff"
              Icon             = "WixApp01Icon.exe"
              />

    <Shortcut Id               = "WixApp.dsk"
              Name             = "WixApp"
              Description      = "A Dialog Box for preparing simple Wix Installers"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "WixApp.pff"
              Icon             = "WixApp01Icon.exe"
              />
  </Component>

  <Component Id="Banner.cmp"  Guid="5E7E76A9-BC71-4287-825C-C1FB4BF7E55E" Directory="WixApp.pff">
    <File Id="Banner.cmp" Source="$(var.SolutionDir)..\WixApp.wix\banner.bmp" KeyPath="yes"/>
  </Component>

  <Component Id="Dialog.cmp"  Guid="C40F08F4-0D13-40CB-8837-6CEFA81F643D" Directory="WixApp.pff">
    <File Id="Dialog.cmp" Source="$(var.SolutionDir)..\WixApp.wix\dialog.bmp" KeyPath="yes"/>
  </Component>

  <Component Id="MyEnUS.cmp"  Guid="5BB02D77-B732-481D-BAD3-E350989130D2" Directory="WixApp.pff">
    <File Id="MyEnUS.cmp" Source="$(var.SolutionDir)..\Release\My_en-us.wxl" KeyPath="yes"/>
  </Component>

  <Component Id="Help.cmp"  Guid="55376BDF-70A6-4DDE-9D43-CB257BA0EB2F" Directory="WixApp.pff">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\WixApp.chm" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="UninstallWixApp.cmp"  Guid="97C90A97-E826-41C5-B423-0D965775677D"
                                                                              Directory="WixApp.pmf">

    <Shortcut Id               = "UninstallWixApp.shc"
              Name             = "Uninstall WixApp"
              Description      = "Uninstalls WixApp"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "Uninstall01Icon.exe"
              />
    <RemoveFolder Id="WixApp.uni" Directory="WixApp.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\UninstallWixApp.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
