<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
  >

<Package UpgradeCode="242E8886-014A-42B0-AAEC-CB819CE99BD8" Language="1033"
  Manufacturer="Bob -- K6RWY" Name="SetEnv"
  Version="!(bind.fileVersion.SetEnv.cmp)" InstallerVersion="500"
  >

  <SummaryInformation Manufacturer="Bob -- K6RWY" Description="Installs SetEnv"
    Comments="Copyright (c) Bob -- K6RWY"
    />

  <MajorUpgrade Schedule="afterInstallInitialize"
    AllowDowngrades="no" IgnoreRemoveFailure="no" AllowSameVersionUpgrades="no"
    DowngradeErrorMessage="A newer version of [ProductName] is already installed."
    />

  <MediaTemplate EmbedCab="yes" />

  <WixVariable Id="WixUILicenseRtf"
                              Value="$(var.SolutionDir)..\..\Library\License\MITLicenseFile.rtf" />

  <Property Id="WIXUI_INSTALLDIR" Value="SETENV.PFF" />

  <UI Id="My_InstallDir.ui">
    <ui:WixUI Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp" />
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp" />

  <Icon Id="Airstream_Icon.exe" SourceFile="$(var.SolutionDir)..\SetEnv.prj\Airstream.ico" />
  <Property Id="ARPPRODUCTICON" Value="Airstream_Icon.exe" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1">
    <ComponentGroupRef Id="SetEnv.ftr" />
  </Feature>
</Package>

<Fragment>
  <ComponentGroup Id="SetEnv.ftr">
    <ComponentRef Id="SetEnv.cmp" />
  </ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Property Id="ApplicationFolderName" Value="SetEnv" />
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />

  <StandardDirectory Id="ProgramFiles6432Folder">
    <Directory Id="SETENV.PFF" Name="SetEnv" />
  </StandardDirectory>
</Fragment>

<Fragment>
  <Component Id="SetEnv.cmp" Guid="EB4772E3-E1A1-4E9A-83F4-1678E40000E9" Directory="SETENV.PFF">
    <File Id="SetEnv.cmp"
                      Source="$(var.SetEnv.TargetDir)\..\Release.Win32\SetEnv.exe" KeyPath="yes" />
    <Environment Id="PATH"
                 Name="PATH"
                 Value="[SETENV.PFF]"
                 Permanent="no"
                 Part="last"
                 Action="set"
                 System="yes"
                 />
  </Component>
</Fragment>
</Wix>
